body {
    font-family: Arial, sans-serif;
    background-color: #36b8ab;
}

.container {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h1 {
    text-align: center;
}


.foot{
    background-color: #f9f9f9;
}

.bold-link{
    font-size: large;
    font-weight: bold;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
